---
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: fix-encoding-pragma
            args: [--remove]
          - id: check-yaml
          - id: debug-statements
            language_version: python3
    - repo: https://github.com/PyCQA/flake8
      rev: 4.0.1
      hooks:
          - id: flake8
            language_version: python3
            additional_dependencies: [flake8-typing-imports==1.9.0]
            args: ["--per-file-ignores=src/gocept/pytestlayer/tests/test_integration.py:E501"]
    - repo: https://github.com/pre-commit/mirrors-autopep8
      rev: v1.5.7
      hooks:
          - id: autopep8
    - repo: https://github.com/PyCQA/isort
      rev: 5.10.1
      hooks:
      - id: isort
        args: [--filter-files]
        files: \.py$
    - repo: local
      hooks:
          - id: rst
            name: rst
            entry: rst-lint --encoding utf-8
            exclude: ./doc/*
            # We have Sphinx directives in the docs. This cannot be validated
            # here. We therefore include two rst-linter. They complement each
            # other. This regex matches all *.rst not in the doc/ folder.
            files: ^[^(doc)].*rst
            language: python
            additional_dependencies: [pygments, restructuredtext_lint]
    -   repo: https://github.com/myint/rstcheck
        rev: '3f92957478422df87bd730abde66f089cc1ee19b'
        hooks:
        -   id: rstcheck
