[buildout]
extends = versions/versions.cfg
parts =
    doc
    pytest
develop = .
allow-picked-versions = false

[doc]
recipe = zc.recipe.egg
eggs = gocept.package [doc]
       gocept.pytestlayer
scripts = doc

[pytest]
recipe = zc.recipe.egg
eggs =
    gocept.pytestlayer[test]
    pytest
